* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .text-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10px;
}

.container .text-wrapper .text-btn {
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.list-syllabary-ja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  margin: 5px;
  padding: 0;
  width: 100%;
  height: 80%;
  list-style: none;
  line-height: 1;
  font-size: 3.52rem;
}

.list-syllabary-ja li {
  margin: 10px 15px 10px 10px;
  padding: 0;
  width: 60px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.list-syllabary-ja li.next-kana-empty {
  margin-bottom: 10px;
}

.list-syllabary-ja li:last-child {
  margin-left: 0;
}

.list-syllabary-ja li.big {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: scale(6);
          transform: scale(6);
}

.list-syllabary-ja a {
  display: block;
  padding: 10px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fff), to(#efefef));
  background: linear-gradient(to bottom, #fff 60%, #efefef 100%);
  color: #333;
  text-decoration: none;
}

.list-syllabary-ja a:hover {
  border-color: #C72020;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #df3b3b), to(#C72020));
  background: linear-gradient(to bottom, #df3b3b 60%, #C72020 100%);
  color: #fff;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: gray;
  display: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-animation: modal 0.25s alternate;
          animation: modal 0.25s alternate;
}

@-webkit-keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-container .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
}

.text-container h1 {
  font-size: 2rem;
  margin: 30px 20px 30px 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.text-container .closeBtn {
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px 10px;
}

.text-container .textarea-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
}

.text-container .textarea-wrapper textarea {
  width: 700px;
  height: 410px;
  font-size: 4rem;
}

.text-container .textarea-wrapper #removeBtn {
  width: 100px;
  height: 50px;
  font-size: 2rem;
  padding: 5px;
  margin-top: 20px;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
  pointer-events: all;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', sans-serif;
  overflow-x: hidden;
}
/*# sourceMappingURL=app.css.map */